<!DOCTYPE html>
<html>
    <head>
        <title>
            Portal Akademik 1B
        </title>
    </head>

    <body>
        <h1>CETAK RPS</h1>
            <hr>
        <p>Masukkan Nama/Kode Matakuliah <label></label> <input type="text"> <button type="Submit"> <a href="hasilcarirps.html">Cari</a> </button></p>
            <br>
        <p><button type="Submit"><a href="printpdf.html">Cetak PDF</a></button> Pemrograman Web (3 SKS)</p>
        <p><button type="Submit"><a href="printpdf.html">Cetak PDF</a></button> Data Mining (2 SKS)</p>
            <br>
        <p><a href="homepagemahasiswa.html">Back</a></p>
        <p><a href="mainlogin.html">Sign Out</a></p>
    </body>
</html>