<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Portal Akademik 1B</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/9c1321c239.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <%- include ('modals/headadmin') %>
    <nav>
        <div class="row no-gutters mt-5">
          <%- include ('modals/navbaradmin', {nama, NIP}) %>
            <div class="col-md-10 p-4 pt-4">
                <h3><i class="fa-solid fa-universal-access me-2"></i>Hak Akses Dosen</h3><hr>
                <div class="container">
                    <div class="row">
                        <div class="col-2"><h6>Kode Mata Kuliah</h6></div>
                        <div class="col-2"><h6>: JSI62125</h6></div>
                      </div>
                    <div class="row">
                      <div class="col-2"><h6>Nama Mata Kuliah</h6></div>
                      <div class="col-3"><h6>: Pemrograman Web</h6></div>
                    </div>
                </div><br>
                <div>
                    <table class="table table-success table-bordered table-hover">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th class="text-center"><input name="course_id" type="tambahrps" id="inputtambahrps" class="form-control"></th>
                            </tr>
                            <tr>
                                <th scope="col">Nama Dosen</th>
                                <th class="text-center"><input name="course_id" type="tambahrps" id="inputtambahrps" class="form-control"></th>
                            </tr>
                            <tr>
                                <th scope="col">NIP</th>
                                <th class="text-center"><input name="code" type="tambahrps" id="inputtambahrps" class="form-control"></th>
                            </tr>
                            <tr>
                                <th scope="col">Telepon</th>
                                <th class="text-center"><input name="name" type="tambahrps" id="inputtambahrps" class="form-control"></th>
                            </tr>
                            <tr>
                                <th scope="col">Status</th>
                                <th class="text-center"><input name="alias_name" type="tambahrps" id="inputtambahrps" class="form-control"></th>
                            </tr>
                        </thead>
                    </table>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                        <a href="aksesdosen1.ejs" class="btn btn-success" type="button">Kembali</a>
                    </div>
                </div><br>
            </div>
        </div>
    </nav>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>