<!DOCTYPE html>
<html>
    <head>
        <title>
            Portal Akademik 1B
        </title>
    </head>

    <body>
        <h1>Referensi</h1>
            <hr>
        <p>Kode Mata Kuliah : JSI62123</p>
        <p>Mata Kuliah      : Data Mining</p>
            <br>
            <table border="1" cellspacing="0">
                <tr>
                    <td><b>Daftar Referensi</b></td>
                    <td><b>Edit Referensi<b></td>
                    <td><b>Hapus Referensi</b></td>

                </tr>
                <tr>
                    <td>Data Mining and Knowledge Discovery Handbook Second Edition,Maimon,Oded; Rocach, Lior, Spinger,2010</td>
                    <td><button type="Submit"> <a href="editreferensi2.html">Edit</a> </button></td>
                    <td><button type="Submit"> <a href="refdosen.html">Hapus</a> </button></td>
                </tr>
            </table>
                <br>
            <button type="Submit"> <a href="tambahref2.html">Tambah</a> </button>
                <br>
                <br>
            <p><a href="refdosen.html">Back</a></p>
    </body>
</html>