<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Portal Akademik 1B</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
  </head>

  <body>
    <%- include ('modals/headlogin') %>
      <nav>
        <div class="global-container">
            <div class="card login-form">
                <div class="card-body">
                    <h3 class="card-title text-center">Universitas Andalas</h3>
                    <h1 class="card-title text-center">Portal Dosen</h1>
                </div>
                <div class="card-text">
                    <form action="/loginDosen" method="POST">
                        <div class="mb-3">
                          <label for="exampleInputNIP1" class="form-label">NIP</label>
                          <input type="text" name="NIP" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" autofocus re>
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Password</label>
                          <input type="password" name="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div>
                          <button type="submit" class="btn btn-dark">Log In</button>
                        </div>
                      </form>
                </div>
            </div>
        </div>
      </nav>
  </body>
</html>