<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Portal Akademik 1B</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/9c1321c239.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand navbar-dark bg-dark shadow-md fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand"> PORTAL ADMIN | <b>UNIVERSITAS ANDALAS</b></a>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-light" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <nav>
        <div class="row no-gutters mt-5">
            <div class="col-md-2 bg-light mt-2 pr-3 pt-4">
                <ul class="nav flex-column ml-3 mb-5">
                    <div class="mt-1 mb-2 d-block mx-auto" style="width: 50px">
                      <img src="profil.png" class="img-fluid">
                    </div>
                    <h6 class="text-center fs-6">Abu Bakar,M.Kom.</h6>
                    <h6 class="text-center fs-6">NIP.198201132432534639</h6><hr>
                    <li class="nav-item">
                      <a class="nav-link active text-black" aria-current="page" href="homepageadmin.html"><i class="fa-solid fa-list me-2"></i>List RPS</a><hr>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-black" href="aksesdosen.html"><i class="fa-solid fa-universal-access me-2"></i>Hak Akses Dosen</a><hr>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-black" href="cpmk-cpl.html"><i class="fa-solid fa-award me-2"></i></i>CPMK-CPL</a><hr>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-black" href="persentaserps.html"><i class="fa-solid fa-chart-line me-2"></i>Persentase RPS</a><hr>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-black" href="mainlogin.html"><i class="fa-solid fa-arrow-right-from-bracket me-2"></i>Sign Out</a><hr>
                  </li>
            </div>
           
        </div>
    </nav>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>