<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
.tg .tg-0lax{text-align:left;vertical-align:top}
</style>
<table class="tg">
<thead>
  <tr>
    <th class="tg-0pky">logo</th>
    <th class="tg-0pky" colspan="5">informasi</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-0pky">Mata Kuliah</td>
    <td class="tg-0pky">Kode</td>
    <td class="tg-0pky">Rumpun</td>
    <td class="tg-0pky">SKS</td>
    <td class="tg-0pky">Semester</td>
    <td class="tg-0pky">Tanggal Pembuatan</td>
  </tr>
  <tr>
    <td class="tg-0pky"><%= RPS.name %></td>
    <td class="tg-0pky"><%= RPS.code %></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"><%= RPS.credit %></td>
    <td class="tg-0pky"><%= RPS.semester %></td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-0pky" rowspan="2">otorisasi</td>
    <td class="tg-0pky" colspan="2">dosen pengembang RPS</td>
    <td class="tg-0pky" colspan="2">Koordinator</td>
    <td class="tg-0pky">Ka program studi</td>
  </tr>
  <tr>
    <td class="tg-0pky" colspan="2"></td>
    <td class="tg-0pky" colspan="2"></td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-0pky" rowspan="6">Capaian Pembelajaran</td>
    <td class="tg-0pky" colspan="5">CP Program Studi</td>
  </tr>
  <tr>
    <td class="tg-0pky">CP-1</td>
    <td class="tg-0pky" colspan="4">Mengidentifikasi, memformulasikan dan memecahkan permasalahan kebutuhan informasi dari suatu organisasi</td>
  </tr>
  <tr>
    <td class="tg-0pky">CP-2</td>
    <td class="tg-0pky" colspan="4">Mengintegrasikan solusi berbasis teknologi informasi secara efektif pada suatu organisasi​</td>
  </tr>
  <tr>
    <td class="tg-0pky">CP-3</td>
    <td class="tg-0pky" colspan="4">Menerapkan konsep-konsep dasar dalam merencanakan Sistem Informasi, merancang Sistem Informasi, membangun Sistem Informasi, mengoperasikan Sistem Informasi, dan mengevaluasi Sistem Informasi</td>
  </tr>
  <tr>
    <td class="tg-0pky" colspan="5">CP Mata Kuliah</td>
  </tr>
  <tr>
    <td class="tg-0pky">1</td>
    <td class="tg-0pky" colspan="4"></td>
  </tr>
  <tr>
    <td class="tg-0pky">Deskripsi Singkat Mata Kuliah</td>
    <td class="tg-0pky" colspan="5">dede</td>
  </tr>
  <tr>
    <td class="tg-0pky">Materi Pembelajaran/Pokok Bahasan</td>
    <td class="tg-0pky" colspan="5">apa </td>
  </tr>
  <tr>
    <td class="tg-0pky">Pustaka</td>
    <td class="tg-0pky" colspan="5">kk</td>
  </tr>
  <tr>
    <td class="tg-0pky">Media Pembelajaran</td>
    <td class="tg-0pky" colspan="3">ll</td>
    <td class="tg-0pky" colspan="2">mm</td>
  </tr>
  <tr>
    <td class="tg-0lax">Team Teaching</td>
    <td class="tg-0lax" colspan="5">-</td>
  </tr>
  <tr>
    <td class="tg-0lax">Assessment</td>
    <td class="tg-0lax" colspan="5">Project, Tugas, Quiz, UTS, UAS</td>
  </tr>
  <tr>
    <td class="tg-0lax">Mata Kuliah</td>
    <td class="tg-0lax" colspan="5">aapa</td>
  </tr>
</tbody>
</table>