<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <table>
        <thead>
          <tr>
            <th>logo</th>
            <th colspan="5">informasi</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>mata kuliah</td>
            <td>kode</td>
            <td>rumpun</td>
            <td>SKS</td>
            <td>Semester</td>
            <td>Tanggal Pembuatan</td>
          </tr>
          <tr>
            <td>pemograman web</td>
            <td>pweb</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td rowspan="2">otorisasi</td>
            <td colspan="2">dosen pengembang RPS</td>
            <td colspan="2">Koordinator</td>
            <td>Ka program studi</td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td colspan="2"></td>
            <td></td>
          </tr>
          <tr>
            <td rowspan="8">Capaian Pembelajaran</td>
            <td colspan="5">CP Program Studi</td>
          </tr>
          <tr>
            <td>CP-1</td>
            <td colspan="4"></td>
          </tr>
          <tr>
            <td>CP-2</td>
            <td colspan="4"></td>
          </tr>
          <tr>
            <td>CP-3</td>
            <td colspan="4"></td>
          </tr>
          <tr>
            <td colspan="5">CP Mata Kuliah</td>
          </tr>
          <tr>
            <td>1</td>
            <td colspan="4">CPMK 1</td>
          </tr>
          <tr>
            <td>2</td>
            <td colspan="4">CPMK 2</td>
          </tr>
          <tr>
            <td>3</td>
            <td colspan="4">CPMK 3</td>
          </tr>
          <tr>
            <td>Deskripsi Singkat Mata Kuliah</td>
            <td>dede</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Materi Pembelajaran/Pokok Bahasan</td>
            <td colspan="5">apa </td>
          </tr>
          <tr>
            <td>Pustaka</td>
            <td colspan="5">kk</td>
          </tr>
          <tr>
            <td>Media Pembelajaran</td>
            <td colspan="3">ll</td>
            <td colspan="2">mm</td>
          </tr>
          <tr>
            <td>Team Teaching</td>
            <td colspan="5">-</td>
          </tr>
          <tr>
            <td>Assessment</td>
            <td colspan="5">Project, Tugas, Quiz, UTS, UAS</td>
          </tr>
          <tr>
            <td>Mata Kuliah</td>
            <td colspan="5">aapa</td>
          </tr>
        </tbody>
        </table>
</head>
<body>
    
</body>
</html>