<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Portal Akademik 1B</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/9c1321c239.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <%- include ('modals/headdosen') %>
    <nav>
      <div class="row no-gutters mt-5">
        <div class="col-md-2 bg-light mt-2 pr-3 pt-4">
            <ul class="nav flex-column ml-3 mb-5">
                <div class="mt-1 mb-2 d-block mx-auto" style="width: 50px">
                  <img src="profil.png" class="img-fluid">
                </div>
                    <h6 class="text-center fs-6">Husnil Kamil, M.T.</h6>
                    <h6 class="text-center fs-6">NIP.198201182008121002</h6><hr>
                    <li class="nav-item">
                      <a class="nav-link active text-black" aria-current="page" href="homepagedosen.ejs"><i class="fa-solid fa-list me-2"></i>List RPS</a><hr>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-black" href="cpmk.ejs"><i class="fa-solid fa-map me-2"></i>CPMK</a><hr>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-black" href="refdosen.ejs"><i class="fa-solid fa-book-bookmark me-2"></i>Referensi</a><hr>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-black" href="jadwaldosen.ejs"><i class="fa-solid fa-calendar-days me-2"></i>Jadwal Pertemuan</a><hr>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-black" href="kompendosen.ejs"><i class="fa-solid fa-award me-2"></i>Komponen Nilai</a><hr>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-black" href="mainlogin.ejs"><i class="fa-solid fa-arrow-right-from-bracket me-2"></i>Sign Out</a><hr>
                    </li>
            </div>
            <div class="col-md-10 p-4 pt-4">
                <h3><i class="fa-solid fa-award me-2"></i>Komponen Penilaian</h3><hr>
                <div class="container">
                    <div class="row">
                        <div class="col-2"><h6>Kode Mata Kuliah</h6></div>
                        <div class="col-2"><h6>: JSI62125</h6></div>
                    </div>
                    <div class="row">
                      <div class="col-2"><h6>Nama Mata Kuliah</h6></div>
                      <div class="col-3"><h6>: Pemrograman Web</h6></div>
                    </div>
                    <div class="row">
                        <div class="col-2"><h6>Jadwal Kelas</h6></div>
                        <div class="col-2"><h6>: Senin/13.30-16.00</h6></div>
                    </div><br>
                </div><br>
                <div class="card">
                  <div class="card-body">
                    <h4 class="text-center">Perhatian!</h4>
                    <div class="mt-1 mb-2 d-block mx-auto" style="width: 150px">
                      <img src="warning.png" class="img-fluid">
                    </div>
                    <h6 class="text-center">Apakah Anda yakin untuk merubah data?</h6>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                        <a href="editkompen1.ejs" class="btn btn-secondary" type="button">Back</a>
                        <a href="lihatkompen1.ejs" class="btn btn-primary" type="button">Simpan</a>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </nav>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>