<nav class="navbar navbar-expand navbar-dark bg-dark shadow-md fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Universitas Andalas</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse text-right" id="navbarNavDropdown">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/">Back</a>
              </li>
          </ul>
      </div>
     </div>
</nav>