<nav class="navbar navbar-expand navbar-dark bg-dark shadow-md fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Universitas Andalas</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
</nav>