<nav class="navbar navbar-expand navbar-dark bg-dark shadow-md fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand">PORTAL DOSEN | <b>UNIVERSITAS ANDALAS</b></a>
        
    </div>
</nav>