<div class="col-md-2 bg-light mt-2 pr-3 pt-4">
    <ul class="nav flex-column ml-3 mb-5">
        <div class="mt-1 mb-2 d-block mx-auto" style="width: 50px">
          <img src="profil.png" class="img-fluid">
        </div>
        <h6 class="text-center fs-6"><%= nama %></h6>
        <h6 class="text-center fs-6">NIP <%= NIP %></h6><hr>
        <li class="nav-item">
          <a class="nav-link active text-black" aria-current="page" href="homepageadmin.ejs"><i class="fa-solid fa-list me-2"></i>List RPS</a><hr>
        </li>
        <li class="nav-item">
          <a class="nav-link text-black" href="/semuaAksesDosen"><i class="fa-solid fa-universal-access me-2"></i>Hak Akses Dosen</a><hr>
        </li>
        <li class="nav-item">
          <a class="nav-link text-black" href="cpmk-cpl.ejs"><i class="fa-solid fa-award me-2"></i></i>CPMK-CPL</a><hr>
        </li>
        <li class="nav-item">
            <a class="nav-link text-black" href="persentaserps.ejs"><i class="fa-solid fa-chart-line me-2"></i>Persentase RPS</a><hr>
        </li>
        <li class="nav-item">
          <a class="nav-link text-black" href="mainlogin.ejs"><i class="fa-solid fa-arrow-right-from-bracket me-2"></i>Sign Out</a><hr>
      </li>
</div>